:root {
  --text-color: white;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #242424;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  color: var(--text-color);
}

.MuiFormLabel-root {
  color: var(--text-color) !important;
}

.MuiPaper-root {
  background-color: #242424 !important;

}

.MuiTableCell-root {
  color: var(--text-color) !important;
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.create-button {
  border: 1px solid #00c853 !important;
}

/* INPUT NAMES */
input {
  color: white !important;
}

/* PLAYER EDITOR CSS */
.table-container {
  margin: 30px;
  width: 45rem;
}

.position-icon {
  height: 35px;
}

/* PLAYER FORM */
.form-submit-player {
  display: flex;
}

/* TEAMS CONTAINER */
.teams-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEAM */
.team {
  
}

.team-container{
  margin: 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgb(32, 32, 32) 1px solid;
  border-radius: 1%;
}


/* MATCH CONTAINER */
.match-container {
  margin-top: 30px;
}

/* BUTTON MODAL */
.button-resort-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* FOOTER */
footer {
  background: #2c2c2c;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-text{
  margin: 15px 30px;
  font-size: 9px;
}